html {
   @include hd {
       font-size: 16px;
   }
   @include laptop {
       font-size: 15px;
   }
   @include tablet {
       font-size: 14px;
   }
   @include phone {
       font-size: 13px;
   }
}

body,
html {
    width: 100%;
    min-height: 100%;
}

body {
    position: relative;
    margin: 0;
    background: #fff;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
    overflow: hidden;
}

.maincontent {
    position: relative;
    flex-grow: 1;
}

.container {
    padding: 0 15px;
    max-width: $containerMaxWidth;
    margin: 0 auto; 
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

p {
    margin: 0;
}

.footer {
    width: 100%;
    position: relative;
}

* {
    box-sizing: border-box;
}