/************************* Colors ***************************/
$white: #fff;
$black: #000;
$blue: #1f2147;
$green: #39d84c;
$red: #d40619;
$silver: #dedede;
$yellow: #ffe200;
$gray:#a9abaf;
$violet:#c2c4eb;
$pink: #fd5e7e;

/************************* Dimensions ***************************/
$containerMaxWidth: 1200px;