extends ../template

block variables
  - var title = "Main page"

block content
  section.action
    .container
      .action__inner
        .action__info
          .info
            .info__title
              h1.title.title_color_white Тестовое задание по верстке
            .info__descr
              svg.info__icon
                use(xlink:href="assets/img/sprite.svg#wave")
              p.
                Lorem ipsum dolor sit <span>Silver fruits Fruits</span> consectetuer adipiscing elit
            
        .action__order
          .order
            .order__label Акция
            .order__descr
              h3.order__text Успей заказать
              .order__discount
                .order__discount-text с <span> </span><span> </span> 70% скидкой!
            .order__price
              .order__current-price 990<span class="order__symbol">&#8399;</span>
              .order__common-price
                span.order__price-descr обычная цена
                span.order__ex-price 3300 руб.
            form(id="orderform" action="#")
              .form
                label(class="form__label" for="name") имя
                input(class="form__input" id="name" type="text" name="name" placeholder="Ваше имя")
                label(class="form__label" for="tel") телефон
                input(class="form__input" id="tel" type="tel" name="tel" placeholder="Ваш телефон")
                button(class="form__btn" type="submit" id="formbtn") Тест Тест Тест Тест
        .products
          img(class="products__polywhite" src="assets/img/polygon-white.svg", alt="polygon")
          img(class="products__polyblack" src="assets/img/polygon-black.svg", alt="polygon")
          .products__left
          a(href="#").products__icon
          .products__row
            span.products__row-text  Aenean <span>commodo с ligula</span>
          .products__effect
          .products__descr-left
            .products__left-riangle
            .products__text Услинение эффекта <span>похудения в 4 раза</span>
          .products__right
            .products__descr-right
              .products__text.products__text_right серебряные капли

  section.structure
    .container
      .structure__inner
        .structure__info
          .structure__title
            .title.title_color_black Cum sociis natoque
          .structure__text
            p.
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            p.
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.

  section.consist
    .container
      .consist__inner
        .consist__title
          .title.title_color_yellow Donec pede justo
        ul.cards
          li.cards__item
            .cards__pic
              img(class="cards__img" src="assets/img/item1.png", alt="element")
            .cards__text 
              .cards__title Fringilla vel
              .cards__descr
                p.
                  Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.
          li.cards__item
            .cards__pic
              img(class="cards__img" src="assets/img/item2.png", alt="element")
            .cards__text 
              .cards__title Aliquet
              .cards__descr
                p.
                  Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.

          li.cards__item
            .cards__pic
              img(class="cards__img" src="assets/img/item3.png", alt="element")
            .cards__text 
              .cards__title Vulputate eget arcu
              .cards__descr
                p.
                  Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi.

          li.cards__item
            .cards__pic
              img(class="cards__img" src="assets/img/item4.png", alt="element")
            .cards__text 
              .cards__title Enim justo
              .cards__descr
                p.
                  Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.
