.advantages {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 3px;

    @include laptop {
        justify-content: center;
        margin-right: -35px;
    }

    @include phone {
        margin-right: 0;    
    }

    &__item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-right: 30px;

        &:last-child {
            margin-right: 0px;
        }

        @include hd {
            width: 165px;
        }

        @include phone {
            justify-content: space-around;    
        }
    }

    &__pic {
        height: 40px;
        width: 35px;
        margin-right: 3px;
        display: flex;
        justify-content: center;
        align-items: center;

        @include phone {
            max-width: 3rem;
            max-height: 3rem;
        }
    }

    &__icon {
        max-width: 32px;
        max-height: 32px;
        fill: $yellow;

        @include phone {
            justify-content: center;
            max-width: 3rem;
            max-height: 3rem;
        }
    }

    &__text {
        
        @include phone { 
         display: none;   
        }
        
        p {
            @include roboto;
            font-size: 14px;
            line-height: 1.1;
            color: $gray;
        }
        
    }
}