.form {
    display: flex;
    flex-direction: column;

    &__label {
        @include roboto(bold);
        font-size: 14px;
        color: $black;
        text-transform: uppercase;
        padding-left: 7px;
        line-height: 1.4;
    }
    
    &__input {
        height: 47px;
        padding: 0 10px;
        margin-bottom: 7px;
        border: none;
        outline: none;
        border-radius: 4px;
        background-color: rgb(232, 232, 232);
        box-shadow: rem(2.5px) rem(4.33px) rem(5px) 0rem rgba(37, 42, 48, 0.47);
        @include roboto;
        font-size: 18px;
        color: $black;

        &:last-of-type {
            margin-bottom: 14px;
        }
    }


    &__btn {
        padding: 21px 10px;
        border: none;
        border-radius: 4px;
        background-color: $red;
        box-shadow: rem(2.5px) rem(4.33px) rem(21px) 0rem rgba(212, 6, 25, 0.47);
        @include roboto;
        font-size: 24px;
        color: $white;
        cursor: pointer;
        transition: .3s;

        &:hover {
            background-color: $yellow;
            color: $red;
        }
    }

}
  
  