.structure {
    position: relative;
    z-index: 1;
    padding: 108px 0px;
    background: $white url('../img/structure_bg.png') 0px 0px no-repeat;
    background-size: auto;
    min-height: 600px;

    &__inner {
        position: relative;
        z-index: 15;
    }

    &__title {
        position: relative;
        margin-bottom: 9px;
        display: inline-block;

        &::before {
            content: "";
            position: absolute;
            top: -10px;
            left: 195px;
            right: -128px;
            bottom: 4px;
            background-color: #ffe200;
        }
    }

    &__text {
        width: 560px;

        p {
            @include myriad;
            font-size: 18px;
            color: $black;
            line-height: 1.7;
            margin-bottom: 29px;
        }
    }

    &::before {
        content: "";
        position: absolute;
        z-index: 10;
        width: 59.5vmin;
        height: 46vmin;
        bottom: -1.2rem;
        left: 49.3vw;
        background: url('../img/structure_bg-shape.png') center no-repeat;
        background-size: contain;
    }

    &__svg {
        position: absolute;
        z-index: 1;
        width: 103%;
        height: 75px;
        bottom: -1px;
        transform: translateX(-2%);
        fill: $blue;
    }

}